@import url(reset.css);

@font-face {
    font-family: Miracode;
    src: url(../assets/fonts/Miracode.ttf);
}

:root{
    --name: Catppuccin Mocha;


    /* 
        Color Palette
    */
    --black: #45475A;
    --blue: #89B4FA;
    --brightBlack: #585B70;
    --brightBlue: #89B4FA;
    --brightCyan: #94E2D5;
    --brightGreen: #A6E3A1;
    --brightPurple: #F5C2E7;
    --brightRed: #F38BA8;
    --brightWhite: #A6ADC8;
    --brightYellow: #F9E2AF;
    --cyan: #94E2D5;
    --green: #A6E3A1;
    --purple: #F5C2E7;
    --red: #F38BA8;
    --white: #BAC2DE;
    --yellow: #F9E2AF;

    --background: #1E1E2E;
    --foreground: #CDD6F4;
    --selectionBackground: #585B70;
    --cursorColor: #F5E0DC;
    
    /* --font-family: "Quintessential", serif; */
    --font-family: Miracode;
    --font-weight: 400;
    --font-style: normal;
}

